In [1]:
%load_ext rpy2.ipython

In [3]:
%%R
data <- read.table("categorical.csv", sep = ",", header = T)

In [14]:
%%R
samples <- sample(length(data[,1]),50)
data_test <- data[samples,]
data_train <- data[-samples,]
fit <- lm(lwage ~ educ+educsqr+exper+expersq+log.tenure+
          as.factor(numdep)+as.factor(race)+as.factor(metro)+
          as.factor(marital.st)+as.factor(gender)+
          as.factor(business.type)+as.factor(job.type)+
          educ:exper+ as.factor(metro):log.tenure+ as.factor(gender):as.factor(race)+
          as.factor(gender):as.factor(marital.st)+ as.factor(gender):as.factor(business.type)+
          as.factor(gender):as.factor(job.type)+as.factor(gender):as.factor(metro), data = data_train)
library("MASS")
stepAIC(fit)$anova

Start:  AIC=-962.21
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(numdep) +
    as.factor(race) + as.factor(metro) + as.factor(marital.st) +
    as.factor(gender) + as.factor(business.type) + as.factor(job.type) +
    educ:exper + as.factor(metro):log.tenure + as.factor(gender):as.factor(race) +
    as.factor(gender):as.factor(marital.st) + as.factor(gender):as.factor(business.type) +
    as.factor(gender):as.factor(job.type) + as.factor(gender):as.factor(metro)

                                             Df Sum of Sq    RSS     AIC
- as.factor(gender):as.factor(job.type)       3   0.08272 53.247 -967.48
- as.factor(gender):as.factor(business.type)  6   0.93822 54.103 -965.91
- as.factor(numdep)                           6   1.01249 54.177 -965.25
- as.factor(metro):as.factor(gender)          1   0.00767 53.172 -964.15
- as.factor(race):as.factor(gender)           1   0.08727 53.252 -963.44
<none>                                                    53.164 -962.21
- educ:exper                                  1   0.23066 53.395 -962.16
- log.tenure:as.factor(metro)                 1   0.40622 53.571 -960.60
- educsqr                                     1   1.29470 54.459 -952.79
- as.factor(marital.st):as.factor(gender)     1   2.10438 55.269 -945.78
- expersq                                     1   2.24544 55.410 -944.56

Step:  AIC=-967.48
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(numdep) +
    as.factor(race) + as.factor(metro) + as.factor(marital.st) +
    as.factor(gender) + as.factor(business.type) + as.factor(job.type) +
    educ:exper + log.tenure:as.factor(metro) + as.factor(race):as.factor(gender) +
    as.factor(marital.st):as.factor(gender) + as.factor(gender):as.factor(business.type) +
    as.factor(metro):as.factor(gender)

                                             Df Sum of Sq    RSS     AIC
- as.factor(gender):as.factor(business.type)  6    0.9986 54.246 -970.65
- as.factor(numdep)                           6    1.0270 54.274 -970.40
- as.factor(metro):as.factor(gender)          1    0.0197 53.267 -969.30
- as.factor(race):as.factor(gender)           1    0.0860 53.333 -968.71
<none>                                                    53.247 -967.48
- educ:exper                                  1    0.2364 53.484 -967.37
- log.tenure:as.factor(metro)                 1    0.3960 53.643 -965.96
- educsqr                                     1    1.3052 54.552 -957.97
- as.factor(marital.st):as.factor(gender)     1    2.2609 55.508 -949.72
- expersq                                     1    2.3004 55.548 -949.39
- as.factor(job.type)                         3    3.8124 57.060 -940.63

Step:  AIC=-970.65
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(numdep) +
    as.factor(race) + as.factor(metro) + as.factor(marital.st) +
    as.factor(gender) + as.factor(business.type) + as.factor(job.type) +
    educ:exper + log.tenure:as.factor(metro) + as.factor(race):as.factor(gender) +
    as.factor(marital.st):as.factor(gender) + as.factor(metro):as.factor(gender)

                                          Df Sum of Sq    RSS     AIC
- as.factor(numdep)                        6    1.0334 55.279 -973.69
- as.factor(metro):as.factor(gender)       1    0.0073 54.253 -972.59
- as.factor(race):as.factor(gender)        1    0.1064 54.352 -971.72
<none>                                                 54.246 -970.65
- educ:exper                               1    0.2692 54.515 -970.30
- log.tenure:as.factor(metro)              1    0.4604 54.706 -968.64
- educsqr                                  1    1.3819 55.628 -960.70
- as.factor(marital.st):as.factor(gender)  1    2.1813 56.427 -953.92
- expersq                                  1    2.2751 56.521 -953.13
- as.factor(job.type)                      3    3.5370 57.783 -946.65
- as.factor(business.type)                 6    4.9531 59.199 -941.15

Step:  AIC=-973.69
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(race) +
    as.factor(metro) + as.factor(marital.st) + as.factor(gender) +
    as.factor(business.type) + as.factor(job.type) + educ:exper +
    log.tenure:as.factor(metro) + as.factor(race):as.factor(gender) +
    as.factor(marital.st):as.factor(gender) + as.factor(metro):as.factor(gender)

                                          Df Sum of Sq    RSS     AIC
- as.factor(metro):as.factor(gender)       1    0.0145 55.294 -975.56
- as.factor(race):as.factor(gender)        1    0.1428 55.422 -974.46
- educ:exper                               1    0.1547 55.434 -974.36
<none>                                                 55.279 -973.69
- log.tenure:as.factor(metro)              1    0.4140 55.693 -972.14
- educsqr                                  1    1.1909 56.470 -965.56
- as.factor(marital.st):as.factor(gender)  1    1.9045 57.184 -959.60
- expersq                                  1    2.0887 57.368 -958.07
- as.factor(job.type)                      3    3.6101 58.889 -949.64
- as.factor(business.type)                 6    4.9587 60.238 -944.88

Step:  AIC=-975.56
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(race) +
    as.factor(metro) + as.factor(marital.st) + as.factor(gender) +
    as.factor(business.type) + as.factor(job.type) + educ:exper +
    log.tenure:as.factor(metro) + as.factor(race):as.factor(gender) +
    as.factor(marital.st):as.factor(gender)

                                          Df Sum of Sq    RSS     AIC
- as.factor(race):as.factor(gender)        1    0.1409 55.435 -976.35
- educ:exper                               1    0.1495 55.443 -976.28
<none>                                                 55.294 -975.56
- log.tenure:as.factor(metro)              1    0.4576 55.751 -973.65
- educsqr                                  1    1.2001 56.494 -967.36
- as.factor(marital.st):as.factor(gender)  1    1.8906 57.184 -961.59
- expersq                                  1    2.1232 57.417 -959.66
- as.factor(job.type)                      3    3.6003 58.894 -951.60
- as.factor(business.type)                 6    4.9444 60.238 -946.88

Step:  AIC=-976.35
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(race) +
    as.factor(metro) + as.factor(marital.st) + as.factor(gender) +
    as.factor(business.type) + as.factor(job.type) + educ:exper +
    log.tenure:as.factor(metro) + as.factor(marital.st):as.factor(gender)

                                          Df Sum of Sq    RSS     AIC
- as.factor(race)                          1    0.0304 55.465 -978.09
- educ:exper                               1    0.1414 55.576 -977.14
<none>                                                 55.435 -976.35
- log.tenure:as.factor(metro)              1    0.4502 55.885 -974.51
- educsqr                                  1    1.2126 56.647 -968.07
- as.factor(marital.st):as.factor(gender)  1    1.8211 57.256 -963.00
- expersq                                  1    2.0187 57.453 -961.36
- as.factor(job.type)                      3    3.6164 59.051 -952.33
- as.factor(business.type)                 6    5.1135 60.548 -946.44

Step:  AIC=-978.09
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(metro) +
    as.factor(marital.st) + as.factor(gender) + as.factor(business.type) +
    as.factor(job.type) + educ:exper + log.tenure:as.factor(metro) +
    as.factor(marital.st):as.factor(gender)

                                          Df Sum of Sq    RSS     AIC
- educ:exper                               1    0.1509 55.616 -978.80
<none>                                                 55.465 -978.09
- log.tenure:as.factor(metro)              1    0.4640 55.929 -976.14
- educsqr                                  1    1.2099 56.675 -969.84
- as.factor(marital.st):as.factor(gender)  1    1.7998 57.265 -964.92
- expersq                                  1    1.9961 57.461 -963.30
- as.factor(job.type)                      3    3.6535 59.118 -953.79
- as.factor(business.type)                 6    5.1387 60.604 -948.01

Step:  AIC=-978.8
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(metro) +
    as.factor(marital.st) + as.factor(gender) + as.factor(business.type) +
    as.factor(job.type) + log.tenure:as.factor(metro) + as.factor(marital.st):as.factor(gender)

                                          Df Sum of Sq    RSS     AIC
- educ                                     1    0.1659 55.782 -979.39
<none>                                                 55.616 -978.80
- log.tenure:as.factor(metro)              1    0.4687 56.085 -976.82
- educsqr                                  1    1.1539 56.770 -971.05
- as.factor(marital.st):as.factor(gender)  1    1.7847 57.400 -965.80
- exper                                    1    2.8247 58.441 -957.27
- expersq                                  1    2.8652 58.481 -956.94
- as.factor(job.type)                      3    3.6632 59.279 -954.50
- as.factor(business.type)                 6    5.0468 60.663 -949.54

Step:  AIC=-979.39
lwage ~ educsqr + exper + expersq + log.tenure + as.factor(metro) +
    as.factor(marital.st) + as.factor(gender) + as.factor(business.type) +
    as.factor(job.type) + log.tenure:as.factor(metro) + as.factor(marital.st):as.factor(gender)

                                          Df Sum of Sq    RSS     AIC
<none>                                                 55.782 -979.39
- log.tenure:as.factor(metro)              1    0.4957 56.277 -977.18
- as.factor(marital.st):as.factor(gender)  1    1.8590 57.641 -965.82
- expersq                                  1    2.7457 58.527 -958.56
- exper                                    1    2.7469 58.529 -958.55
- as.factor(job.type)                      3    3.7571 59.539 -954.43
- as.factor(business.type)                 6    5.0897 60.871 -949.91
- educsqr                                  1    6.0589 61.841 -932.41
Stepwise Model Path
Analysis of Deviance Table

Initial Model:
lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(numdep) +
    as.factor(race) + as.factor(metro) + as.factor(marital.st) +
    as.factor(gender) + as.factor(business.type) + as.factor(job.type) +
    educ:exper + as.factor(metro):log.tenure + as.factor(gender):as.factor(race) +
    as.factor(gender):as.factor(marital.st) + as.factor(gender):as.factor(business.type) +
    as.factor(gender):as.factor(job.type) + as.factor(gender):as.factor(metro)

Final Model:
lwage ~ educsqr + exper + expersq + log.tenure + as.factor(metro) +
    as.factor(marital.st) + as.factor(gender) + as.factor(business.type) +
    as.factor(job.type) + log.tenure:as.factor(metro) + as.factor(marital.st):as.factor(gender)


                                          Step Df   Deviance Resid. Df
1                                                                  436
2      - as.factor(gender):as.factor(job.type)  3 0.08272494       439
3 - as.factor(gender):as.factor(business.type)  6 0.99864788       445
4                          - as.factor(numdep)  6 1.03340371       451
5         - as.factor(metro):as.factor(gender)  1 0.01446525       452
6          - as.factor(race):as.factor(gender)  1 0.14086627       453
7                            - as.factor(race)  1 0.03037487       454
8                                 - educ:exper  1 0.15090001       455
9                                       - educ  1 0.16591871       456
  Resid. Dev       AIC
1   53.16444 -962.2144
2   53.24716 -967.4759
3   54.24581 -970.6498
4   55.27921 -973.6860
5   55.29368 -975.5617
6   55.43454 -976.3531
7   55.46492 -978.0929
8   55.61582 -978.8024
9   55.78174 -979.3874

In [19]:
%%R
fit_train <- lm(lwage ~ educ + educsqr + exper + expersq + log.tenure + as.factor(metro) + 
    as.factor(marital.st) + as.factor(gender) + as.factor(business.type) + 
    as.factor(job.type) + log.tenure:as.factor(metro) + as.factor(marital.st):as.factor(gender), data = data)
summary(fit_train)

Call:
lm(formula = lwage ~ educ + educsqr + exper + expersq + log.tenure +
    as.factor(metro) + as.factor(marital.st) + as.factor(gender) +
    as.factor(business.type) + as.factor(job.type) + log.tenure:as.factor(metro) +
    as.factor(marital.st):as.factor(gender), data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-0.98533 -0.20815 -0.01915  0.20178  1.23680

Coefficients:
                                                    Estimate Std. Error t value
(Intercept)                                        1.074e+00  1.906e-01   5.636
educ                                              -2.503e-02  2.656e-02  -0.942
educsqr                                            3.211e-03  1.122e-03   2.861
exper                                              2.357e-02  4.693e-03   5.023
expersq                                           -4.925e-04  9.789e-05  -5.031
log.tenure                                         1.076e-01  2.014e-02   5.344
as.factor(metro)suburb                            -7.482e-02  5.452e-02  -1.372
as.factor(marital.st)single                        7.615e-02  4.751e-02   1.603
as.factor(gender)male                              3.584e-01  4.506e-02   7.954
as.factor(business.type)ndurman                   -7.232e-02  8.612e-02  -0.840
as.factor(business.type)other                      4.705e-02  8.262e-02   0.569
as.factor(business.type)profserv                  -5.776e-02  8.232e-02  -0.702
as.factor(business.type)services                  -2.148e-01  8.968e-02  -2.395
as.factor(business.type)trade                     -2.515e-01  7.874e-02  -3.194
as.factor(business.type)trcommpu                  -7.716e-02  1.042e-01  -0.740
as.factor(job.type)other                          -5.221e-02  5.462e-02  -0.956
as.factor(job.type)profocc                         1.406e-01  5.149e-02   2.731
as.factor(job.type)servocc                        -1.449e-01  5.850e-02  -2.477
log.tenure:as.factor(metro)suburb                 -6.425e-02  3.306e-02  -1.943
as.factor(marital.st)single:as.factor(gender)male -2.427e-01  6.490e-02  -3.739
                                                  Pr(>|t|)
(Intercept)                                       2.90e-08 ***
educ                                              0.346500
educsqr                                           0.004401 **
exper                                             7.07e-07 ***
expersq                                           6.80e-07 ***
log.tenure                                        1.38e-07 ***
as.factor(metro)suburb                            0.170557
as.factor(marital.st)single                       0.109558
as.factor(gender)male                             1.20e-14 ***
as.factor(business.type)ndurman                   0.401462
as.factor(business.type)other                     0.569284
as.factor(business.type)profserv                  0.483175
as.factor(business.type)services                  0.016994 *
as.factor(business.type)trade                     0.001492 **
as.factor(business.type)trcommpu                  0.459525
as.factor(job.type)other                          0.339663
as.factor(job.type)profocc                        0.006531 **
as.factor(job.type)servocc                        0.013561 *
log.tenure:as.factor(metro)suburb                 0.052529 .
as.factor(marital.st)single:as.factor(gender)male 0.000206 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3496 on 505 degrees of freedom
Multiple R-squared:  0.5692,	Adjusted R-squared:  0.5529
F-statistic: 35.11 on 19 and 505 DF,  p-value: < 2.2e-16

In [21]:
%%R
wage_prediction <- data.frame( data_test$wage, exp(predict(fit_train, data_test)), 
                              abs(data_test$wage - exp(predict(fit_train, data_test))),
                             data_test$lwage , predict(fit_train, data_test),
                             abs(data_test$lwage - (predict(fit_train, data_test))))
colnames(wage_prediction) <- c('real','pred','diff', 'lwage', 'lpred','ldiff')
for (i in seq(0.2,3.6,by=0.01)){
    cat(i,sum(wage_prediction$diff < i)/length(wage_prediction$diff),'\n')
        #sum(wage_prediction$diff < exp(i))/length(wage_prediction$diff),'\n')
    }

0.2 0.12
0.21 0.12
0.22 0.12
0.23 0.12
0.24 0.12
0.25 0.12
0.26 0.12
0.27 0.12
0.28 0.12
0.29 0.12
0.3 0.12
0.31 0.12
0.32 0.12
0.33 0.12
0.34 0.12
0.35 0.12
0.36 0.12
0.37 0.12
0.38 0.12
0.39 0.14
0.4 0.16
0.41 0.18
0.42 0.18
0.43 0.18
0.44 0.18
0.45 0.18
0.46 0.18
0.47 0.18
0.48 0.18
0.49 0.18
0.5 0.18
0.51 0.18
0.52 0.18
0.53 0.22
0.54 0.22
0.55 0.22
0.56 0.22
0.57 0.22
0.58 0.22
0.59 0.22
0.6 0.22
0.61 0.22
0.62 0.22
0.63 0.24
0.64 0.24
0.65 0.24
0.66 0.26
0.67 0.26
0.68 0.26
0.69 0.28
0.7 0.28
0.71 0.28
0.72 0.28
0.73 0.28
0.74 0.28
0.75 0.28
0.76 0.28
0.77 0.28
0.78 0.28
0.79 0.28
0.8 0.28
0.81 0.28
0.82 0.28
0.83 0.28
0.84 0.3
0.85 0.3
0.86 0.3
0.87 0.32
0.88 0.32
0.89 0.32
0.9 0.32
0.91 0.32
0.92 0.34
0.93 0.34
0.94 0.34
0.95 0.34
0.96 0.34
0.97 0.34
0.98 0.34
0.99 0.36
1 0.36
1.01 0.36
1.02 0.36
1.03 0.36
1.04 0.36
1.05 0.38
1.06 0.4
1.07 0.4
1.08 0.4
1.09 0.42
1.1 0.42
1.11 0.42
1.12 0.42
1.13 0.42
1.14 0.42
1.15 0.42
1.16 0.42
1.17 0.42
1.18 0.42
1.19 0.42
1.2 0.42
1.21 0.42
1.22 0.42
1.23 0.44
1.24 0.46
1.25 0.46
1.26 0.5
1.27 0.52
1.28 0.52
1.29 0.52
1.3 0.52
1.31 0.52
1.32 0.52
1.33 0.52
1.34 0.52
1.35 0.54
1.36 0.54
1.37 0.54
1.38 0.54
1.39 0.54
1.4 0.56
1.41 0.56
1.42 0.56
1.43 0.56
1.44 0.56
1.45 0.56
1.46 0.56
1.47 0.56
1.48 0.56
1.49 0.56
1.5 0.58
1.51 0.58
1.52 0.58
1.53 0.58
1.54 0.58
1.55 0.58
1.56 0.58
1.57 0.58
1.58 0.58
1.59 0.58
1.6 0.58
1.61 0.58
1.62 0.6
1.63 0.6
1.64 0.6
1.65 0.6
1.66 0.6
1.67 0.6
1.68 0.6
1.69 0.62
1.7 0.62
1.71 0.62
1.72 0.64
1.73 0.64
1.74 0.64
1.75 0.64
1.76 0.64
1.77 0.64
1.78 0.66
1.79 0.66
1.8 0.66
1.81 0.66
1.82 0.66
1.83 0.66
1.84 0.66
1.85 0.66
1.86 0.66
1.87 0.66
1.88 0.66
1.89 0.66
1.9 0.66
1.91 0.66
1.92 0.66
1.93 0.66
1.94 0.66
1.95 0.66
1.96 0.66
1.97 0.68
1.98 0.68
1.99 0.68
2 0.68
2.01 0.68
2.02 0.68
2.03 0.68
2.04 0.68
2.05 0.68
2.06 0.68
2.07 0.68
2.08 0.7
2.09 0.7
2.1 0.7
2.11 0.7
2.12 0.7
2.13 0.72
2.14 0.72
2.15 0.72
2.16 0.72
2.17 0.72
2.18 0.74
2.19 0.76
2.2 0.76
2.21 0.76
2.22 0.76
2.23 0.78
2.24 0.78
2.25 0.8
2.26 0.8
2.27 0.8
2.28 0.8
2.29 0.8
2.3 0.8
2.31 0.82
2.32 0.82
2.33 0.82
2.34 0.82
2.35 0.82
2.36 0.82
2.37 0.82
2.38 0.82
2.39 0.82
2.4 0.84
2.41 0.84
2.42 0.84
2.43 0.84
2.44 0.84
2.45 0.84
2.46 0.84
2.47 0.84
2.48 0.84
2.49 0.84
2.5 0.84
2.51 0.84
2.52 0.86
2.53 0.86
2.54 0.86
2.55 0.86
2.56 0.86
2.57 0.86
2.58 0.86
2.59 0.86
2.6 0.86
2.61 0.86
2.62 0.86
2.63 0.86
2.64 0.86
2.65 0.86
2.66 0.86
2.67 0.86
2.68 0.86
2.69 0.86
2.7 0.86
2.71 0.88
2.72 0.88
2.73 0.88
2.74 0.88
2.75 0.88
2.76 0.88
2.77 0.88
2.78 0.88
2.79 0.9
2.8 0.9
2.81 0.9
2.82 0.9
2.83 0.9
2.84 0.9
2.85 0.9
2.86 0.9
2.87 0.9
2.88 0.9
2.89 0.9
2.9 0.9
2.91 0.9
2.92 0.9
2.93 0.9
2.94 0.9
2.95 0.9
2.96 0.9
2.97 0.9
2.98 0.9
2.99 0.9
3 0.9
3.01 0.9
3.02 0.9
3.03 0.9
3.04 0.9
3.05 0.9
3.06 0.9
3.07 0.9
3.08 0.9
3.09 0.9
3.1 0.9
3.11 0.9
3.12 0.9
3.13 0.9
3.14 0.9
3.15 0.9
3.16 0.9
3.17 0.9
3.18 0.9
3.19 0.92
3.2 0.92
3.21 0.92
3.22 0.92
3.23 0.92
3.24 0.92
3.25 0.92
3.26 0.92
3.27 0.92
3.28 0.92
3.29 0.92
3.3 0.92
3.31 0.92
3.32 0.92
3.33 0.92
3.34 0.92
3.35 0.92
3.36 0.92
3.37 0.92
3.38 0.92
3.39 0.92
3.4 0.92
3.41 0.92
3.42 0.92
3.43 0.92
3.44 0.92
3.45 0.92
3.46 0.92
3.47 0.92
3.48 0.92
3.49 0.92
3.5 0.92
3.51 0.92
3.52 0.92
3.53 0.92
3.54 0.92
3.55 0.92
3.56 0.92
3.57 0.92
3.58 0.92
3.59 0.92
3.6 0.92